

<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../assets/logoof.png" id="logoinicio" alt="logoinicio">
  </ion-toolbar>
</ion-header>

<ion-button expand="full" routerLink="/home" id="botao-voltar-inicio">INICIO</ion-button>

<ion-item>
  
  <ion-thumbnail slot="start">
    <img alt="Silhouette of mountains" id="docesimg" src="../../assets/WhatsApp Image 2024-09-22 at 08.45.46.jpeg" />
  </ion-thumbnail>
      
      <ion-label>
        <h1>Brownie</h1> 
        <strong>6,00</strong>
        <p>duas camadas de brownie uma de recheio</p>
        
        <ion-fab-button id="botao_adicionar">
          <ion-icon name="add" id="button-adicionar"></ion-icon>
        </ion-fab-button>

      </ion-label>

</ion-item>
 
<ion-item>
  
  <ion-thumbnail slot="start">
    <img alt="Silhouette of mountains" id="docesimg" src="../../assets/torta de limao.jpeg" />
  </ion-thumbnail>
      
      <ion-label>
        <h1>TORTA DE LIMÃO</h1> <strong>10,00</strong>
        <p>camada de biscoito, mousse, chantylli</p>
        
        <ion-fab-button id="botao_adicionar">
          <ion-icon name="add" id="button-adicionar"></ion-icon>
        </ion-fab-button>

      </ion-label>

</ion-item>

<ion-item>
  
  <ion-thumbnail slot="start">
    <img alt="Silhouette of mountains" id="docesimg" src="../../assets/WhatsApp Image 2024-09-22 at 08.45.46 (1).jpeg" />
  </ion-thumbnail>
      
      <ion-label>
        
            <h1>BOLO DE CENOURA </h1>
            <strong>10,00</strong>
            <p>bolo com brigadeiro</p>
            
            <ion-fab-button id="botao_adicionar">
              <ion-icon name="add" id="button-adicionar"></ion-icon>
            </ion-fab-button>
            
      </ion-label>

</ion-item>


<ion-item>
  
  <ion-thumbnail slot="start">
    <img alt="Silhouette of mountains" id="docesimg" src="../../assets/banoffee.jpeg" alt="logoinicio">
  </ion-thumbnail>
      
      <ion-label>
        <h1>BANOFFEE</h1> 
        <strong>10,00</strong>
        <p>camada de biscoito, doce de leite, banana, canela e chantilly</p>
        <ion-fab-button id="botao_adicionar"><ion-icon name="add" id="button-adicionar"></ion-icon></ion-fab-button>
      </ion-label>

</ion-item>

<ion-item>
  
  <ion-thumbnail slot="start">
    <img alt="Silhouette of mountains" id="docesimg" src="../../assets/torta de maracuja.jpeg" alt="logoinicio">
  </ion-thumbnail>
      
      <ion-label>
        <h1>TORTA DE MARACUJÁ</h1> 
        <strong>12,00</strong>
        <p>camada de biscoito, mousse, geleia e chantilly</p>
        <ion-fab-button id="botao_adicionar"><ion-icon name="add" id="button-adicionar"></ion-icon></ion-fab-button>
      </ion-label>

</ion-item>

<ion-footer>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>




  
  



