

<ion-header>
  <ion-toolbar>
    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of cart" id="cartt">
      <div> <h3>{{ item.product.name }}</h3> </div>

      <div> Preço: R$ {{ item.product.price }}</div>
      
      <div> Quantidade: {{ item.quantity }}</div>

      <ion-button color="danger" (click)="removeFromCart(item.product.id)">-</ion-button>
    </ion-item>
  </ion-list>

  <div><h3>Total: R$ {{ total | currency }}</h3></div>

  <ion-button expand="full" color="secondary" (click)="goToDeliveryForm()">
    Finalizar Pedido
  </ion-button>
</ion-content>

