/* src/app/order-management/order-management.component.css */
.order {
    border: 1px solid #ccc;
    padding: 16px;
    margin-bottom: 12px;
    border-radius: 4px;
  }
  


  .container {
    max-width: 800px;
  }
  
  .card {
    border: none;
    border-radius: 10px;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-text span {
    font-weight: bold;
  }
  
  .btn {
    width: 32%;
  }
  