
<ion-content>

  <form [formGroup]="deliveryForm" (ngSubmit)="enviarPedidoWhatsApp()" class="formulario-entrega">
    
    <ion-item>
      <h1>INFORMAÇÕES PARA ENTREGA!!!</h1>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input type="tel" formControlName="phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">CEP</ion-label>
      <ion-input type="text" formControlName="cep" (ionBlur)="buscarEndereco(deliveryForm.get('cep')?.value)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Endereço</ion-label>
      <ion-input type="text" formControlName="address" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Número da Casa</ion-label>
      <ion-input type="text" formControlName="houseNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Forma de Pagamento</ion-label>
      <ion-select formControlName="paymentMethod">
        <ion-select-option value="Dinheiro">Dinheiro</ion-select-option>
        <ion-select-option value="Cartão de Crédito">Cartão de Crédito</ion-select-option>
        <ion-select-option value="Cartão de Débito">Cartão de Débito</ion-select-option>
        <ion-select-option value="Pix">Pix</ion-select-option> 
      </ion-select>
    </ion-item>

   
    <ion-button expand="full" type="submit" color="primary" (click)="salvarPedidoFirebase()" id="botao-enviar-zap">Finalizar Pedido</ion-button>
     
  </form>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Resumo do Pedido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li *ngFor="let item of cartItems">
          {{ item.product.name }} - {{ item.quantity }} x R$ {{ item.product.price }} = R$ {{ item.product.price * item.quantity }}
        </li>
      </ul>
      <h2>Total: R$ {{ total }}</h2>
    </ion-card-content>
  </ion-card>
  
</ion-content>
